
html {
	color: #ff69b4;
	background-color: #2a111e;
}

body {
	padding: 10px;
}

body.documentation {
	max-width: 20cm;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
}

h2 {
	border-bottom: dotted 2px;
}

#canvas {
	border: solid #ff69b4;
	background-color: black;
	margin: 5px;
	border-radius: 10px;
	border-width: 3px;
}

#ToggleRecordButton{
	color: green;
}


table {
	width: 100%;
	border: 2px solid #ff69b4;
	border-collapse: collapse;
}
th {
	border: 2px solid #ff69b4;
	padding: 2px;
}
td {
	border: 1px solid #ff69b4;
	padding: 5px;
	text-align: center;
}

.NumericTableField {
	text-align: right;
}

a {
	color: cyan;
}

#TextDisplay{
	padding: 5px;
	margin: 5px;
	border: solid #ff69b4;
	border-width: 3px;
	font-size: 150%;
	color: white;
	background-color: black;
	border-radius: 10px;
}

button {
	min-width: 3cm;
	min-height: 1.5cm;
	font-size: 200%;
	margin: 5px;
	border-color: #ff69b4;
	border-width: 2px;
	border-radius: 10px;
	background-color: #55233c;
}

footer {
	text-align: center;
	color: gray;
}

footer > p > a {
	color: gray;
	text-decoration: underline;
}

.ActionField > a {
	font-size: 200%;
	text-decoration: none;
	padding:2px;
}

select {
	color: #ff69b4;
	background-color: #31192d;
	border-color: #ff69b4;
	border-width: 3px;
	border-radius: 10px;
}

select:hover, button:hover {
	background-color: #42224c;
}

input[type="number"] {
	color: #ff69b4;
	background-color: #2a111e;
	border-color: #ff69b4;
	border-width: 3px;
	border-radius: 10px;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
